h3 {
  background-color: #ff8a8a;
  color: darkgreen;
}
button {
  background-color: darksalmon;
}
h1 {
  text-align: center;
  text-decoration: overline;
}
article {
  font-family: "Franklin Gothic Medium";
}
